@import '~antd/dist/antd.css';


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #2c445c;
}

::-webkit-scrollbar-track {background-color: #001529;}